nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding-left: 2%;
}

body{
    background-color:#f1f1f1;
}

button.btn.btn-submit-lista.btn-block {
    margin-top: 20px;
    background-color: #28a133;
    color: #ffffff;
}

.bannerAgenda {
    background-image: url(/images/banner.jpg);
    height: 30%;
    background-repeat: no-repeat;
    text-align: center;
    padding: 7%;
    margin-top: -35px;
}
li.nav-item {
    padding-right: 50px;
}

a.editButton {
    background-color: #dcad27;
    color: #ffffff;
    padding: 8px;
    margin-right: 15px;
    border-radius: 5px;
    font-size: 15px;
    text-decoration: none;
    margin-bottom: 15px;
}


a.deleteButton {
    background-color: #dc2727;
    color: #ffffff;
    padding: 8px;
    margin-right: 15px;
    border-radius: 5px;
    font-size: 15px;
    text-decoration: none;
}

.col-md-12.shadow-sm.backgroundCartaoContato {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}


a.nav-link {
    background-color: #161616;
    border: 1px solid #161616 ;
    color: #ffffff !important;
    border-radius: 10px;
}

a.nav-link:hover {
    background-color: #161616;
    color: #ffffff !important;
    border:1px solid #ffffff;
    border-radius: 10px;
}